*{
    font-family: 'work sans', sans-serif;
    padding: 0px;
    margin: 0;

}

body{
    background-image: url(../images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    background-attachment: fixed;
    

}


/* Nav bar and links */

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}

header::after{
    content: '';
    display: table;
    clear: both;
}
nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 7em;
    margin-right: 7em;
    padding-top: 10px;
    position: relative;
}

nav li a {
    transition: all 0.3 ease 0s;
    font-size: 18px;
}

nav a:hover{
    color: rgb(0, 183, 255);
}

nav a::before {
    content: '';
    display: block;
    height: 4px;
    background-color: rgb(209, 209, 209);

    position: absolute;
    top: -10px;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

/* Name */

.main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 2em;
    padding-left: 175px;
    height: auto;
}

.main h1, h2{
    font-size: 120px;

}

.main h1{
    color: rgb(255, 255, 255);
    
}

.main h2{
    color: lightgray;
    
}

.main p{
    color: white;
    font-size: 25px;
    
}

/* Ul */
.icons{
    display: flex;
    padding-left: 0;
    margin: ;
}
 
/* Social Links */

.fa2 {
    padding-top: px;
}

.main ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    line-height: px;
    font-size: px;
    transition: .6s;
}

/* Slogan */

.main h5 {
    display: flex;
    flex-direction: row;
}

.main h5 {
    font-family: 'Dancing Script', cursive;
    font-size: 42px;
    text-align: left;
    color: #eee;
    padding: .5em;
}

/* Projects */

.title {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 2em;
    height: 50%;
}

.title h4 {
    color: #fff;
    font-size: 40px;   
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 10em;
    margin-right: 10em;
    height: auto;
}

.information{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.information h5 {
    font-size: 26px;
    color: #fff;
    text-align: left;
    padding: 1em;
}

.project1 img {
    height: 225px;
    width: 250px;
    padding: 1em;
}

.information p {
    font-size: 18px;
    padding: 1em;
    color: #fff;
}


/* About Me */

.wrapper2 {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 10em;
    margin-right: 10em;
}

.info h5 {
    font-size: 28px;
    color: white;
    padding: 1em;
}

.info p {
    color: #fff;
    text-align: justify;
    font-size: 20px;
    padding: 1em;
}

.info {
    padding: 2em;
}

#email {
    font-size: 24px;
    color: #eee;
}

footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 2.5rem;
}
h6 {
    text-align: center;
    background-color: black;
    color: rgb(143, 143, 143);
    padding: 1em;
    font-size: 14px;
    opacity: .8;
}

@media screen and (max-width:600px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    nav li{
        display: inline-block;
        margin-left: 1em;
        margin-right: 1em;
        padding-top: 10px;
        position: relative;
    }
    nav li a {
        transition: all 0.3 ease 0s;
        font-size: 14px;
    }

    /* Home Page */

    .main {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            padding-top: 5em;
            padding-left: 2em;
            height: auto;
    }
    .main h1, h2{
        font-size: 60px;
    }
    .main h5 {
        font-family: 'Dancing Script', cursive;
        font-size: 24px;
        text-align: left;
        color: #eee;
        padding: .5em;
    }
    footer {
        width: 100%;
        bottom: 0;
        position: absolute;
        height: 2.5rem;
    }
    h6 {
        font-size: 10px;
    }

    /* projects */

    .title {
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 2em;
        height: 50%;
    }
    
    .title h4 {
        color: #fff;
        font-size: 28px;   
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.1);
        margin-left: 2em;
        margin-right: 2em;
        padding:1rem;
    }
    .project1 img {
        height: 225px;
        width: 250px;
        padding-left: 2.5em;
    }
    .information h5 {
        font-size: 21px;
        color: #fff;
        text-align: center;
        padding: 1rem;
    }
    
    .information p {
        font-size: 14px;
        padding: 0rem;
        color: #fff;
    }

    /* About me */
    .wrapper2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.1);
        margin-left: 2em;
        margin-right: 2em;
        padding:1rem;
    }
    .info h5 {
        font-size: 21px;
        color: white;
        padding: 1rem;
    }
    
    .info p {
        color: #fff;
        text-align: justify;
        font-size: 14px;
        padding: 0em;
    }
    
    .info {
        padding: 2em;
    }
    
    #email {
        font-size: 16px;
        color: #eee;
        padding: 1rem;
    }
}
